# vLLM Configuration
VLLM_API_URL=http://127.0.0.1:8000
VLLM_MODEL=/model
VLLM_TIMEOUT=120

# VLM 
VLM_API_URL=http://host.docker.internal:8001

# gen
GEN_API_URL=http://host.docker.internal:8002

# API Configuration
API_HOST=0.0.0.0
API_PORT=8080

# Logging
LOG_LEVEL=INFO